// Reset

// ============================================================================

@use '@/app/styles/module' as m;

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
  }
}

html,
body {
  min-width: m.$minWidth + px;
  height: 100%;
}

body {
  font-family: m.$primaryFontFamily;
  font-size: m.$fontSize;
  line-height: 1;
  color: m.$mainColor;
  background: m.$mainBgGradient;
}

table {
  border-collapse: collapse;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

button {
  line-height: inherit;

  &:not(:disabled) {
    cursor: pointer;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  > li {
    list-style: none;
  }
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
